.main2 {
    height: 100vh;
    .text-theme{
        color:#159895;
    }
    .container-2 {
       
        gap: 20px;

        .column_appointment {
            width: 94%;
            height: 510px;

            background-color: white;
            border-radius: 15px;

            .appointments {
                // background: linear-gradient(90deg,red,orange);
                font-size: 25px;
                color: #002B5B;
            }

            .dates {
                color: grey;
            }

            .appointments_content {
                text-align: center;

                .no-appo{
                    font-size: 20px;
                    display: flex;
                    justify-content: center;
                    font-weight:500;
                }
                .table{
                    justify-content: center;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    .btn-visit{
                        background-color: #40b0a1;
                        color: white;
                        border:0;
                        border-radius: 5px !important;
                        text-align: center;
                        width: 110px;
                        outline:1px solid #40b0a1;
                    }
                    .btn-visit:hover{
                        outline-offset: 4px;
                    }
                    .reject-btn{
                        background-color: #1A5F7A;
                        color: white;
                        border:0;
                        border-radius: 5px !important;
                        text-align: center;
                        width: 110px;
                        outline:1px solid #1A5F7A;
                    }
                    .cancel-btn{
                        background-color:#9a9a9ad4;
                        color: white;
                        border:0;
                        border-radius: 5px !important;
                        text-align: center;
                        width: 110px;
                        outline:1px solid #9a9a9ad4;
                    }
                    
                }
                
                .box_cr {
                    color: white;
                    text-align: center;
                    width: 60%;
                }
            }
        }
    }
}


@media screen and (max-width:1178px) {
    .main2 {
        height: 1913px; // 1010px;
    }
}

@media screen and (max-width:949px) {
    .main2 {
        height: 2138px; // 998px;
    }

    //    .appointments_content{
    //      font-size: 1rem;
    //    }
}

@media screen and (max-width:939px) {
    .main2 {
        height: 2077px; //930px
    }

    //     .appointments_content{
    //      font-size: 0.9rem;
    //    }
}

@media screen and (max-width:900px) {
    .main2 {
        height: 2019px; //870px;
    }

    .appointments_content {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:823px) {
    .main2 {
        height: 1817px; //800px;
    }

    .appointments,
    .dates {
        font-size: 0.7rem;
    }

    .appointments_content {
        font-size: 0.7rem;
    }

    //    .column_appointment{
    //     width: 50%;
    //    }
}

@media screen and (max-width:700px) {
    .main2 {
        height: 1546px; //800px;
    }

    //     .appointments_content{
    //      font-size: 0.7rem;
    //    }
}

@media screen and (max-width:650px) {
    .main2 {
        padding: 1.8%;
    }

    .column_appointment {
        margin-top: 1.8%;
        padding-top: 2.3%;
        padding: 1.3%;
    }

    .appointments,
    .dates {
        font-size: 1rem;
    }

    //  .appointments_content{
    //    font-size: 0.6rem;
    //  }
}

@media screen and (max-width:500px) {
    .main2 {
        padding: 1.6%;
    }

    .column_appointment {
        margin-top: 1.6%;
        padding-top: 2%;
        padding: 1.1%;
    }

    .appointments,
    .dates {
        font-size: 0.8rem;
    }

    //  .appointments_content{
    //    font-size: 0.4rem;
    //  }
}

@media screen and (max-width:350px) {
    .main2 {
        padding: 1%;
    }

    .column_appointment {
        margin-top: 1%;
        padding-top: 1.5%;
        padding: 0.8%;
    }

    .appointments,
    .dates {
        font-size: 0.6rem;
    }

    //  .appointments_content{
    //    font-size: 0.2rem;
    //  }
}