.main3 {
    height: 100vh;
    .text-theme{
        color:#159895;
    }
    .fs-18 {
        font-size: 16px;
    }
    .patients_number {
        gap:20px;
        .card1 {
            border-radius: 5px;
            color: white;
            background-color: #002B5B;
            width: 100%;
            align-items: center;
            margin-top: 1%;

            .count {
                font-size: xx-large;
                justify-content: center;
                // align-items:start;
                display: inline-block;
                font-weight: bold;
            }

            .count-txt {
                font-size: 1.0625rem;
            }
        }

        .card1:hover {
            border:2px solid #002B5B;
            color: #002B5B;
            background-color: white;
        }

        .card2 {
            background-color: #1A5F7A;
            border-radius: 5px;
            color: white;
            // background-color: #3AA6F4;
            width: 100%;
            align-items: center;
            margin-top: 1%;

            .count {
                font-size: xx-large;
                justify-content: center;
                // align-items: center;
                display: inline-block;
                font-weight: bold;
            }

            .count-txt {
                font-size: 1.0625rem;
            }
        }

        .card2:hover {
            border:2px solid #1A5F7A;
            color: #1A5F7A;
            background-color: white;
        }

        .card3 {
            background-color: #159895;
            border-radius: 5px;
            color: white;
           
            // background-color: #00C78A;
            width: 100%;
            align-items: center;
            margin-top: 1%;

            .count {
                font-size: xx-large;
                justify-content: center;
                // align-items: center;
                display: inline-block;
                font-weight: bold;
            }

            .count-txt {
                font-size: 1.0625rem;
            }
        }

        .card3:hover {
            border: 2px solid #159895;
            color: #159895;
            background-color: white;
        }

        .card4 {
            background-color: #40b0a1;
            border-radius: 5px;
            color: white;
            width: 100%;
            align-items: center;
            margin-top: 1%;

            .count {
                font-size: xx-large;
                justify-content: center;
                // align-items: center;
                display: inline-block;
                font-weight: bold;
            }

            .count-txt {
                font-size: 1.0625rem;
            }
        }

        .card4:hover {
            border:2px solid #40b0a1;
            color: #40b0a1;
            background-color: white;
        }
    }

    .column_dashboard {
        width: 100%;


        .recent_appo {
            font-size: 25px;
            color: #002B5B;
        }

        .dates1 {
            color: grey;
        }

        .dashboard_content {
            text-align: center;

            table{
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
            .cancel-btn{
                background-color: #9a9a9ad4;
                color:white;
                text-align:center;
                border-radius: 5px;
                border:0;
                width:110px;
            }
            .approve-btn {
                background-color: #40b0a1;
                color: white;
                border:0;
                border-radius: 5px !important;
                text-align: center;
                width: 110px;
                outline:1px solid #40b0a1;
            }

            .approve-btn:hover {
                outline-offset: 4px;
            }
            .rejected-btn{
                background-color: #1A5F7A;
                color: white;
                border:0;
                border-radius: 5px !important;
                text-align: center;
                width: 110px;
                outline:1px solid #1A5F7A;
            }
            .rejected-btn:hover{
                outline-offset: 4px;
            }
        }
    }

    @media screen and (max-width:1178px) {
        .main3 {
            height: 1913px; // 1010px;
        }
    }

    @media screen and (max-width:949px) {
        .main3 {
            height: 2138px; // 998px;
        }

        .dashboard_content {
            font-size: 1rem;
        }
    }

    @media screen and (max-width:939px) {
        .main3 {
            height: 2077px; //930px
        }

        .dashboard_content {
            font-size: 0.9rem;
        }
    }

    @media screen and (max-width:900px) {
        .main3 {
            height: 2019px; //870px;
        }

        .dashboard_content {
            font-size: 0.8rem;
        }
    }

    @media screen and (max-width:823px) {
        .main3 {
            height: 1817px; //800px;
        }

        .dashboard_content {
            font-size: 0.7rem;

        }

        
    }

    @media screen and (max-width:700px) {
        .main3 {
            height: 1546px; //800px;
        }

        .dashboard_content {
            font-size: 0.7rem;
        }

        .count {
            font-size: x-large;
        }

        .count-txt {
            font-size: 1rem;
        }
    }

    @media screen and (max-width:650px) {
        .main3 {
            padding: 1.8%;
            
        }
        .fs-18{
            font-size: 13px !important;
        }
        .column_dashboard {
            margin-top: 1.8%;
            padding-top: 2.3%;
            padding: 1.3%;
        }

        .recent_appo {
            font-size: 20px !important;
        }

        .dashboard_content {
            font-size: 0.6rem;

            .cancel-btn,.approve-btn,.rejected-btn{
                width:60px !important;
            }
        }

        .count {
            font-size: larger;
        }

        .count-txt {
            font-size: 0.9rem;
        }
        
    }

    @media screen and (max-width:500px) {
        .main3 {
            padding: 1.6%;
            
        }
        .fs-18{
            font-size: 10px !important;
        }
        .column_dashboard {
            margin-top: 1.6%;
            padding-top: 2%;
            padding: 1.1%;
        }

        .recent_appo {
            font-size: 18px !important;
        }

        .dashboard_content {
            .table{
                font-size: 8px!important;
            }
            .cancel-btn,.approve-btn,.rejected-btn{
                width:50px !important;
            }
            
        }

        .count {
            font-size: large;
        }

        .count-txt {
            font-size: 0.8rem;
        }
    }

    @media screen and (max-width:350px) {
        .main3 {
            padding: 1%;
        }

        .column_dashboard {
            margin-top: 1%;
            padding-top: 1.5%;
            padding: 0.8%;
        }

        .recent_appo {
            font-size: 0.6rem;
        }

        .dashboard_content {
            font-size: 0.2rem;
            .table{
                font-size: 7px!important;
            }
            .cancel-btn,.approve-btn,.rejected-btn{
                width:40px !important;
            }
        }

        .count {
            font-size: medium;
        }

        .count-txt {
            font-size: 0.7rem;
        }
    }
}
.cancel-btn{
    background-color: #e04646;
    color: white;
    border:0;
    border-radius: 5px !important;
    text-align: center;
    width: 70px;
    outline:1px solid #de5252;
}
.cancel-btn:hover{
    outline-offset: 4px;
}
.close-btn{
    background-color:#9a9a9ad4;
    color: white;
    border:0;
    border-radius: 5px !important;
    text-align: center;
    width: 70px;
    outline:1px solid #9a9a9ad4;
}
.close-btn:hover{
    outline-offset: 4px;
}