* {
    margin: 0;
    padding: 0;
    text-decoration: none;

    .cont {
        display: flex;

        .main1 {
            width: 100%;
            // padding:1.25rem;
        }

        .sidebar {
            background-color: #159895;
            color: #fff;
            width: 15.625rem;
            transition: all 0.5s;
            // height: 100vh;
            .top_section {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1.25rem 0.9375rem;

                .logo {
                    font-size: 1.5625rem;
                    height: 3rem;
                    width: 8rem;
                }

                .bars {
                    display: flex;
                    font-size: 1.5625rem;
                    margin-left: 3.125rem;
                }
            }

            .link {
                display: flex;
                color:white;            
                border:0;
                gap: 0.9375rem;
                transition: all 0.5s;
                text-decoration: none;
                border-radius: 5px;
                .icon,
                .link_text {
                    font-size: 1.25rem;
                    align-items: center;
                }
            }

            .logout {
                margin-bottom: 3rem;
            }

            .link:hover {
                background-color: #fff;
                color: #159895;
                   
                transition: all 0.5s;
            }

            .active {
                background: lightskyblue;
                color: #000;
            }
        }
    }
}