.main5 {
  
  height: 100vh;
  .text-theme{
    color:#002B5B;
  }
  .column_patients {
    margin:0 30px;
    background-color: white;
    border-radius: 10px;

    .patients {
      // background: linear-gradient(90deg,red,orange);
      // font-size: 1.25rem;
      color:#002B5B;
     
    }

    .date {
      color: grey;
    }

    .patients_content {
      text-align: center;

      .no_appo_text {
        font-size: 20px;
        display: flex;
        justify-content: center;
        font-weight:500;
      }

      .head {
        color: grey;
        text-decoration: underline;
        align-items: center;
      }
      .table{
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .close-button {
          color: red;
      
        }
        .address-btn {
          background-color: #1A5F7A;
          color: white;
          border:0;
          border-radius: 5px !important;
          text-align: center;
          width: 110px;
          outline:1px solid #1A5F7A;
        
        }
        .address-btn:hover {
          outline-offset: 4px;
        }
      }
      
    }
  }
}


@media screen and (max-width: 650px) {
  .main5 {
   .column_patients{
    .patients_content {
      text-align: center;

      .no_appo_text {
        font-size: 16px;
        display: flex;
        justify-content: center;
        font-weight:500;
      }
      .table{
        font-size: 12px;
        .address-btn{
          width:70px;
        }
      }
    } 
  }
}
}

@media screen and (max-width: 500px) {
  .main {
  }

  .column_patients {
   
  }

  .patients {
  
  }

  .patients_content {
  
  }
}

@media screen and (max-width: 350px) {
  .main {

  }

  .column_patients {
    
  }

  .patients {
  
  }

  .patients_content {
    
  }
}
