.about{
  padding-top: 80px;
  h1{
    span{
      color:#159895;
      margin:0 10px 0 0;
    }
  }
  .content1{
    .shadow{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
      // border-radius:5px;
    }
  }
  .content2{
    display: flex;
    align-items: center;
  }
  .content3{
    display: flex;
    justify-content: center;
  }
}
@media(max-width:992px){
  .content1,.content2{
    width:100%!important;
    margin-left: 0 !important;
  
  }
  .content2{
    margin-top:40px;
      h1{
        display: flex;
        justify-content: center;
      }
  }
}