.section__padding{
    padding:4rem 4rem;
}

.footer{
    background-color: #159895;
    padding:0 130px;
    width:100%;
}
.footer h4{
    color:white;
} 
.sb__footer{
    display:flex;
    flex-direction: column;
}

.sb__footer-links{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align:left;
    margin-bottom: 2rem;
    padding-top:20px;
}
.sb__footer-links_div{
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}
a{
    color:white;
    text-decoration: none;
}
.socialmedia{
    display: flex;
    flex-direction: row;
    
}
.socialmedia img{
    width: 100%;
}
.sb__footer-links_div h4{
    font-size: 25px;
    line-height: 17px;
    margin-bottom: 0.9rem;
    text-align: center;
}

.sb__footer-links_div p{
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    margin: 0.5rem 0;
    cursor:pointer;
    transition:all 0.5s;
} 

.sb__footer-links_div p:hover{
    text-decoration: underline;
}

.sb__footer-below{
    display: flex;
    justify-content:space-between;
    margin-top:10px;
    padding-bottom:10px;
}

.sb__footer-below-links{
    display:flex;
    flex-direction: row;
}

.sb__footer-below-links p{
    font-size:17px;
    font-weight:600;
    line-height: 15px;
}

.sb__footer-links p{
    font-size: 17px;
    line-height: 15px;
    color:rgb(206, 204, 204);
    font-weight:600;
}

hr{
    color:white !important;
    width:100%;
}
.sb__footer-copyright p{
    font-size: 17px;
    line-height: 15px;
    color: rgb(255,255,255);
    font-weight:600;
}

@media screen and(max-width:850px){
    .sb__footer-heading h1{
        font-size:44px;
        line-height: 50px;
    }
}
@media(max-width:645px)
{
    .sb__footer-below
    {
        display:flex;
        flex-wrap: wrap;
    }
    .footer
    {
        display:flex;
        justify-content: center;
    }
}

@media screen and(max-width:550px){
    .sb__footer-heading h1{
        font-size: 34px;
        line-height: 42px;
    }
    .sb__footer-links div{
        margin:1rem 0;
    }
    .sb__footer-btn p{
        font-size: 14px;
        line-height:20px;
    }
    .sb__footer-below{
        flex-direction:column;
        justify-content: left;
    }
    .sb__footer-links{
        flex-direction:column ;
    }
    .sb__footer-below-links p{
        margin-left: 0rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width:400px)
{
    .sb_footer-heading h1{
        font-size: 27px;
        line-height: 38px;
    }
}