.background {
    background-color: rgb(239, 253, 239);
    padding: 70px 2% 2% 2%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .column_patients {
        margin-top: 2%;
        padding: 1.5%;
        padding-top: 2.5%;
        background-color: white;
        border-radius: 10px;

        .patients {
            // background: linear-gradient(90deg,red,orange);
            font-size: 1.25rem;
            background-image: linear-gradient(#57C5B6, #159895, #1A5F7A);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .date {
            color: grey;
        }

        .patients_content {
            margin-top: 2%;
            font-weight: bold;
            text-align: center;
            .no_appo_text{
                margin-top:30%;
            }

            .head {
                color: grey;
                text-decoration: underline;
                align-items: center;
            }

            .text {
                border: 1px solid rgb(220, 219, 219);
                border-radius: 5px;
                align-items: center;
                .address{
                    justify-content: right;
                }
                .close-button{
                    color: red;
                    margin-left: 5%;
                }
                .address-button{
                    background-image: linear-gradient(#57C5B6, #159895);
                    color: white;
                    border-radius: 10px;
                    text-align: center;
                    padding: 1%;
                    align-items: center;
                    margin-top: 2%;
                }
                .address-button:hover{
                    background-image: linear-gradient(#57C5B6, #159895, #1A5F7A);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                @media screen and (max-width:400px) {
                    border: none;
                }
            }
        }
    }
}

@media screen and (max-width:1178px) {
    .background {
        height: 1913px; // 1010px;
    }
}

@media screen and (max-width:949px) {
    .background {
        height: 2138px; // 998px;
    }

    .patients_content {
        font-size: 1rem;
    }
}

@media screen and (max-width:939px) {
    .background {
        height: 2077px; //930px
    }

    .patients_content {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:900px) {
    .background {
        height: 2019px; //870px;
    }

    .patients_content {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:823px) {
    .background {
        height: 1817px; //800px;
    }

    .patients_content {
        font-size: 0.7rem;
    }
}

@media screen and (max-width:700px) {
    .background {
        height: 1546px; //800px;
    }

    .patients_content {
        font-size: 0.7rem;
    }
}

@media screen and (max-width:650px) {
    .background {
        padding: 1.8%;
    }

    .column_patients {
        margin-top: 1.8%;
        padding-top: 2.3%;
        padding: 1.3%;
    }

    .patients {
        font-size: 1rem;
    }

    .patients_content {
        font-size: 0.6rem;
    }
}

@media screen and (max-width:500px) {
    .background {
        padding: 1.6%;
    }

    .column_patients {
        margin-top: 1.6%;
        padding-top: 2%;
        padding: 1.1%;
    }

    .patients {
        font-size: 0.8rem;
    }

    .patients_content {
        font-size: 0.4rem;
    }
}

@media screen and (max-width:350px) {
    .background {
        padding: 1%;
    }

    .column_patients {
        margin-top: 1%;
        padding-top: 1.5%;
        padding: 0.8%;
    }

    .patients {
        font-size: 0.6rem;
    }

    .patients_content {
        font-size: 0.2rem;
    }
}