.your-appointment{
    .h-32{
        height: 32.5vh;
    }
    .table{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width: 80vw;
        text-align: center;
        .btn-update{
            background-color: #159895;
            color: white;
            border:0;
            width: 70px;
            border-radius: 5px !important;
            text-align: center;
            outline:1px solid #159895;
        }
        .btn-update:hover{
            outline-offset: 4px;
        }

        .cancel-btn{
            background-color: #e04646;
            color: white;
            border:0;
            border-radius: 5px !important;
            text-align: center;
            width: 70px;
            outline:1px solid #de5252;
        }
        .cancel-btn:hover{
            outline-offset: 4px;
        }
        .close-btn{
            background-color:#9a9a9ad4;
            color: white;
            border:0;
            border-radius: 5px !important;
            text-align: center;
            width: 70px;
            outline:1px solid #9a9a9ad4;
        }
        .close-btn:hover{
            outline-offset: 4px;
        }
    }  
}